*.blend1
*.blend2
scripts/*.exp
scripts/*.ilk
scripts/*.obj
scripts/*.lib
scripts/*.pdb
/*.dll
/*.exe
*_autosave.unv
*.unv.lst
*.unv.bkp
shaders/compiled/*.shb
shaders/compiled/*.d
metadata.bin
minidump.dmp
fulldump.dmp
imgui.ini
error.log
studio.ini